/* variable colors */

/* --rich-black-fogra-39: #0b090aff;
--eerie-black: #161a1dff;
--blood-red: #660708ff;
--ruby-red: #a4161aff;
--carnelian: #ba181bff;
--imperial-red: #e5383bff;
--black-shadows: #b1a7a6ff;
--light-gray: #d3d3d3ff;
--cultured: #f5f3f4ff;
--white: #ffffffff; */

/* basic page style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(#0b090aff, #344e41);
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Bitter", serif;
  color: #f5f3f4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: #f5f3f4;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.2rem;
  color: #f5f3f4;
}

/* home */

.home {
  background: url("../images/pct-2.jpg");
  background-size: cover;
  background-position: center center;
  height: 50vh;
}

.home-container {
  position: relative;
  height: 100%;
  align-items: center;
}

.home-title {
  font-size: 5rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.my-info {
  display: flex;
  column-gap: 1.8rem;
  position: absolute;
  left: 0;
  bottom: 1.8rem;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-title {
  font-weight: 500;
  font-size: 2rem;
}

.info-icon {
  font-size: 2rem;
  color: #ba181b;
  margin-right: 0.75rem;
}

/* sidebar style*/

.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: #161a1dff;
  border-right: 1px solid #161a1dff;
}

.navbar-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.8rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ba181b;
  text-align: center;
  margin: auto;
}

.navbar-logo {
  font-size: 1.8rem;
  color: #f5f3f4;
  font-weight: 500;
  line-height: 40px;
}

.navbar-menu {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
}

.menu {
  display: flex;
}

.navbar-list {
  display: flex;
  flex-direction: row-reverse;
  margin: -2px auto 0 auto;
}

.navbar-link {
  height: 100%;
  line-height: 100px;
  padding: 0 1rem;
  color: #f5f3f4;
  font-weight: 400;
  position: relative;
  transition: 0.4s;
  float: right;
}

.navbar-link.active-link:hover,
.navbar-link:hover {
  color: #ba181b;
  font-weight: 400;
}

.navbar-link.active-link::after,
.navbar-link:hover::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ba181b;
  border-radius: 50%;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-share {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #f5f3f4;
  font-size: 1.5rem;
}

.main-layout {
  margin-left: 100px;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

/* about */

.about-container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  font-weight: 400;
}

.about-img {
  width: 380px;
  border-radius: 0.75rem;
  justify-self: center;
}

.about-heading {
  font-size: 2rem;
  margin-bottom: 1;
}

.about-description {
  text-align: justify;
  padding-right: 6rem;
  margin-bottom: 2rem;
}

.about-info {
  grid-template-columns: repeat(3, 140px);
  column-gap: 0.5rem;
  margin-bottom: 3rem;
}

.about-box {
  text-align: center;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  background-color: #161a1dff;
}

.about-icon {
  font-size: 2rem;
  color: #ba181b;
  margin-bottom: 1rem;
}

.about-title {
  font-size: 1rem;
}

/* work */

.work-container1 {
  gap: 1.8rem;
  justify-items: center;
  padding-top: 1rem;
}

.work-card1 {
  background-color: #161a1dff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: fit-content;
}

.work-img1 {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  height: auto;
}

.work-title1 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.work-container {
  grid-template-columns: repeat(3, 330px);
  gap: 1.8rem;
  justify-content: center;
  padding-top: 1rem;
}

.work-card {
  background-color: #161a1dff;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.work-title {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.work-img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  height: 220px;
}

.work-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.work-item {
  cursor: pointer;
  color: #f5f3f4;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.work-btn {
  color: var(--skin-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.work-btn:hover {
  transform: translateX(0.25rem);
}

.active-work {
  background-color: #ba181b;
  color: #f5f3f4;
}

/*contact*/

.contact-container {
  grid-template-columns: 300px 340px;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}
.contact-way {
  display: grid;
  row-gap: 1rem;
}

.contact-card {
  background-color: #161a1dff;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.contact-card-icon {
  font-size: 2rem;
  color: #ba181b;
  margin-bottom: 0.1;
}

.contact-card-title {
  font-size: 1rem;
}

.contact-btn {
  color: #f5f3f4;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.input-container {
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 1.9rem;
}

.input {
  width: 100%;
  border: 2px solid #ba181b;
  background-color: transparent;
  padding: 1rem 2rem;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.5px;
  outline: none;
  border-radius: 0.5rem;
  transition: 0.3s;
}

/* button styling */

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: #ba181b;
  color: #f5f3f4;
  padding: 0.75rem 1.4rem;
  border-radius: 0.25rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #161a1dff;
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 0.25rem;
  transition: 0.2s;
}

.button:hover::after {
  transform: scale(1);
}

/* footer */

.footer {
  padding-top: 2rem;
}

.footer-bg {
  background: url("../images/pct-3.jpg");
  padding: 2rem 0 3.5rem;
  height: 50px;
}
.footer-title {
  font-size: 1.4rem;
}

/* media queries */
@media screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }

  .main-layout {
    margin: 0;
  }

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home-container {
    display: flex;
    flex-direction: column;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about-box {
    box-sizing: border-box;
  }

  .about-info {
    padding: 0.75rem 0.5rem;
    justify-content: center;
  }

  .about-data,
  .about-description {
    text-align: center;
    padding: 0;
  }

  .work-container1 {
    display: flex;
    flex-direction: column;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 300px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 300px;
  }
}
